@font-face {
    font-family: 'chalk-font';
    src: url(/assets/font/Chalk-JP.otf);
}

@font-face {
    font-family: 'chalks-font';
    src: url(/assets/font/Chalk-S-JP.otf);
}

@font-face {
    font-family: 'hui-font';
    src: url(/assets/font/HuiFont29.ttf);
}

body {
    overflow: hidden;
    color: #FFFFFFEE;
    background: #004000;
    padding: 0;
    font-size: 14px;
    font-family: "chalk-font";
    font-weight: 900;
}

/**色*************************************************/
/*****************************************************/
/*****************
黄色
******************/
.yellow-color {
    color: yellow;
}

.yellow-bg{
    color:black;
    background:yellow;
}

/*****************
ピンク
******************/
.pink-color {
    color: rgb(255, 139, 160);
}

.pink-bg{
    color:black;
    background:rgb(255, 139, 160);
}

/*****************
青
******************/
.blue-color {
    color: rgb(117, 121, 255);
}
.blue-bg{
    color:black;
    background: rgb(117, 121, 255);
}
/*****************************************************/


/*******************
ドラッガー
********************/
.draggable {
    cursor: grab;
}