body {
    overflow: hidden;
    color: #FFFFFFEE;
    background: #004000;
    padding: 0;
}



/** input ******************************************************************/
input {
    color: white;
    background: transparent;
    border: none;
    border-bottom: solid 0.5px;
    border-color: white;
    outline: none;
    opacity: 1;
}

input:hover {
    border-color: #FFFFFF88;
}

input:focus {
    background: #FFFFFF0F;
    border-color: #FFFFFF55;
}

/** input ******************************************************************/


/** button ******************************************************************/
button {
    color: white;
    background: transparent;
    border: solid 1px;
    border-color: transparent;
    cursor: pointer;
}

button:focus {
    background: #FFFFFF22;
}

button:hover {
    background: #FFFFFF11;
}

button:active {
    background: #FFFFFF55;
}

/** button ******************************************************************/

/** card ******************************************************************/
.act-card {
    cursor: pointer;
    background: red;
    box-shadow: 0px 10px 20px #000000 !important;
}

.act-card:hover {
    box-shadow: 0px 0px 0px #000000 !important;
}

.act-card:active {
    opacity: 0.8;
}

/** card ******************************************************************/


h1 {
    font-family: "Impact";
    font-family: "Arial Black";
    font-size: 5em;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.font-impact {
    font-family: Impact;
}

.font-impact * {
    font-family: Impact;
}

.bold {
    font-weight: bold;
}